*, *::after, *::before {
    box-sizing: border-box;
}

body {
    min-width: 280px;
    font-family: 'Inter', sans-serif;
    background: url('../../img/Main-home.png') center no-repeat, #E1E8ED;
    height: 100vh;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1305px;
    margin: 0 auto;
}

input,
button {
    font-family: 'Inter', sans-serif;
    outline: none;
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}
